@import "styles/variables";

.certifications {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

.certifications_box {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .certifications_box {
        grid-template-columns: auto;
    }
}